---
const { tags = [] } = Astro.props;
---

{tags.length ? (
  <ul class="m-0 flex list-none flex-wrap gap-2 p-0">
    {tags.map((tag) => (
      <li class="tag-chip">{tag}</li>
    ))}
  </ul>
) : null}
